@font-face{
    src: url(fonts/KazimirText-Regular.ttf);
    font-family: kazimir;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background: #394F6A;
   

}

#container1{
    position: relative;
    border: 1px solid white;
    width: 100vw;
    height: 300vh;
}

header{
    width: 100%;
    height: fit-content;
    padding: 10px;
}

header nav{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo{
    margin-left: 8%;
    text-transform: uppercase;
    padding-top: 1.5em;
    
}

.logo a{
    font-size: 3em;
    text-decoration: none;
    font-family: 'Parisienne', cursive;
    color: #F8FAFC;
}
.nav-list ul{
    display: flex;
    margin-top: 3.5em;
}

.nav-list ul li{
    list-style: none;
    
}

.nav-list.list1 ul li a{
    padding: 1.2em 2em;
    text-transform: uppercase;
    font-size: 0.75em;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #F8FAFC;
    font-weight: 600;
    line-height: 1.5em;
}
.nav-list.list1 ul li a:hover{
    text-decoration: underline;
}

.nav-list.list2{
    margin-top: 3.5em;
    margin-right: 8%;
}


.nav-list.list2 a{
    padding: 1.2em 2em;
    text-transform: uppercase;
    font-size: 0.75em;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #F8FAFC;
    font-weight: 600;
    line-height: 1.5em;
   
}
.nav-list.list2 a:hover{
    text-decoration: underline;
   
}
.list3{
    
    position: absolute;
    right: 10%;
    width: 8%;
}

.list3 ul{
    display: flex;
    justify-content: space-between;    
    
}

.list3 ul li{
    list-style: none;
}
.list3 ul li a{
    font-size: 0.75em;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #F8FAFC;
    font-weight: 500;
}

.list3 ul li a:hover{
    text-decoration: underline;
}

#main-container{
    border: 1px solid white;
    padding: 10px;
    width: 82%;
    height: 60%;
    position: absolute;
    top: 10%;
    left: 8%;
}
h1{
    color: #F8FAFC;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
p{
    color: #F8FAFC;
    font-family: kazimir;
    width: 30%;
    border: 1px solid white;
    font-size: 0.8em;
    line-height: 1.2em;
    margin-top: 1.5em;
}
.select-container{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    display: flex;
   
}
select{
    width: 15vw;
    height: 5vh;
    border: 1px solid white;
    margin-right: 5px;
    background: transparent;
    padding: 10px;
    outline: 1px solid white;

}
option{
    color: #F8FAFC;
    text-transform: uppercase;
}






























#footer{
    width: 100vw;
    height: 70vh;
    background: #051326;
    position: relative;
    font-family: 'Montserrat', sans-serif;

}

#footer-container{
    width: 82%;
    height: 100%;
    position: absolute;
    left: 8%;
    display: flex;
    justify-content: space-between;
}

.footer-items{
    max-width: fit-content;
    max-height: 40%;
    padding: 5px;
    margin-top: 10px;
}
.footer-items-title a{
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #F8FAFC;
}

.footer-items-title-list{
    margin-top: 1em;
}

.footer-items-title-list li{
    list-style: none;
}

.footer-items-title-list li a{
    font-size: 0.75em;
    text-decoration: none;
    color: #F8FAFC;
}

.footer-items-title:hover{
    text-decoration: underline;
}

.footer-items-title-list  a:hover{
    text-decoration: underline;
}

.footer-contact{
    position: absolute;
    bottom: 2%;
    right: 0%;
    padding: 10px;
}
.footer-contact h4{
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 2em;
}

.footer-contact p{
    color: white;
    font-size: 0.75em;
    margin-bottom: 1em;
}

.footer-contact h5{
    text-transform: uppercase;
    color: white;
    font-size: 1em;
    margin-bottom: 1em;
}

.social{
    display: flex;
}

.footer-icons{
    color: #F8FAFC;
    margin-right: 1em;
    font-size: 1.2em;
}